body{
    background-color: rgb(1, 1, 42);
}

html, body{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
}

.main-header{
    font-size: 3.5em;
    font-weight: bold;
    width: 100vw;
    height: 1.5em;
    color: white;
    text-align: center;
    vertical-align: center;
    background-image: url(https://free4kwallpapers.com/uploads/originals/2020/12/14/awesomeblossom-flame-fractal-wallpaper.jpg);
    background-position: center;
}

.main-body{
    width: 80vw;
    background-color: white;
    margin: auto;
}

.slidecontainer {
    margin: auto;
    width: 80%; /* Width of the outside container */
}

#switch {
    position: absolute;
    width: 10vw;
    top: 10vh;
    left: 0;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 25px; /* Full-width */
    height: 30vh; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
} 
/* from w3 schools */